<footer class="footer w-100 p-4 bg-secondary text-white text-center">
    <div class="w-100 d-inline-flex align-items-center justify-content-around">
        <p>
            <small>
                Copyright {{ site.title }} ©2022 - <span id="currentYear">2022</span>.
                Read this website's <a class="link-light" href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a>.
            </small>
        </p>
        <script>
            // Set current year to footer
            const currentYear = (new Date(Date.now())).getFullYear();
            const yearElement = document.getElementById('currentYear');
            yearElement.innerHTML = currentYear;
        </script>
    </div>
</footer>
