<footer class="footer w-100 px-2 py-3 bg-secondary text-white text-center">
    <div class="d-flex flex-row">
        {% for contact in site.data.contact %}
            {% if contact.show_on_footer %}
                <a class="social-icon" href="{{ contact.url }}" alt="{{ contact.name }}" target="_blank">
                    <img class="w-100 h-100" src="/assets/img/icons/{{ contact.icon }}.svg" alt="{{ contact.name }}">
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="w-100 d-inline-flex align-items-center justify-content-around">
        <p class="mb-0 mt-2" style="font-size: 0.8rem; color: #c9c9ca; line-height: 1rem;">
            <small>
                Copyright {{ site.title }} ©2022 - <span id="currentYear">{{ 'now' | date: "%Y" }}</span>.
                Read this website's <a href="{{ site.baseurl }}/privacy-policy" class="text-white">Privacy Policy</a>.
            </small>
        </p>
        <script>
            // Set current year to footer
            const currentYear = (new Date(Date.now())).getFullYear();
            const yearElement = document.getElementById('currentYear');
            yearElement.innerHTML = currentYear;
        </script>
    </div>

    <!-- Mastodon verification link -->
    <div hidden="true">
        <a rel="me" href="https://mastodon.social/@murikistudio">Mastodon</a>
    </div>
</footer>
