<!-- Screenshots -->
<div class="swiper w-100">
    <div class="swiper-wrapper">
        {% for screenshot in include.screenshots %}
        <div class="swiper-slide">
            <div class="d-flex flex-column overflow-hidden align-items-center">
                <img class="w-100" style="max-width: 960px;" loading="lazy" src="/assets/img/{{ include.key }}/{{ screenshot }}" alt="{{ include.name }}">
                <div class="screenshot-background" style="background: url('/assets/img/{{ include.key }}/{{ screenshot }}');"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
