<script>
    const swiper = new Swiper('.swiper', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
        },
        effect: "cube",
        cubeEffect: {
            shadow: false,
            slideShadows: false,
            shadowOffset: 20,
            shadowScale: 0.95,
        },
        loop: true,
        //{% if include.autoplay %}
        autoplay: {
            delay: 5000,
        },
        //{% endif %}
        spaceBetween: 24,
    });
</script>
