---
---
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.logo {
    height: 50vh;
}

.logo-text {
    width: 80vh;
}

.footer {
    position: relative;
    bottom: 0;
}

.banner {
    background-attachment: fixed;
    background-size: contain;
    height: 100%;
    background-image: url({{ site.url }}/assets/img/background.webp);
}

.page-content {
    padding: 3rem !important;
}

@media only screen and (max-width: 768px) {

    .logo {
        height: initial;
        width: 65vw;
    }

    .logo-text {
        width: 95vw;
    }

    .page-content {
        padding: 1.5rem !important;
    }
}

h1 {
    text-align: center;
    margin-bottom: 1.2rem !important;
}
