html, body {
    height: 100%;
}

.logo {
    height: 400px;
}

.logo-text {
    width: 50%;
}

.footer {
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 768px) {

    .logo {
        height: initial;
        width: 90%;
    }

    .logo-text {
        width: 100%;
    }
}
